$mainColor: #0066ff;
$secondColor: #cacaca;

a {
    text-decoration: none !important;
}

.main {
    animation: showMain 0.2s ease-in-out;
    width: 1040px;
    &__body {
        margin-top: 20px;
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.1);
    }
    &__item {
        &:not(:first-of-type){
            margin-left: 30px;
        }
    }
    &__loader{
        display: flex;
        align-items: center;
        height: calc(100vh - 250px);
    }
    &__header {
        cursor: pointer;
        padding: 20px;
        margin-top: 20px;
        background-color: $mainColor;
        color: #fff;
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.1);
        text-align: center;
        transition:  transform 0.2s;
        h5{
            color: #000;
        }
        &:hover {
            transform: translateY(-5px);
        }
    }
}

@keyframes showMain {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@media (max-width: 1200px) {
    .main{
      width: 960px;
    }
  }
  
  @media (max-width: 1000px) {
    .main{
      width: 720px;
      &__body{
        flex-wrap: wrap;
        justify-content:flex-start;
        a {
          margin: 10px;
        }
      }
    }
  }
  @media (max-width: 760px) {
    .main{
      width: 540px;
      &__body{
        justify-content: center;
      }
    }
  }
  @media (max-width: 580px) {
    .main{
      width: 100%;
      padding: 0 15px;
    }
  }